* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffbfa;
    color: #30343f;
    font-family: Lato, sans-serif;
    height: auto;
}

a {
    text-decoration: none;
    background-color: none;
    color: #6bd0ed;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Noto Serif, serif;
    text-align: center;
}

h1 {
    color: #30343f;
    font-size: 42pt;
}

h2 {
    color: #546a76;
    font-size: 28pt;
}

h3 {
    font-size: 28pt;
    height: 80pt;
    line-height: 80pt;
    text-align: left;
}

h4 {
    font-size: 16pt;
}

h5 {
    font-size: 14pt;
}

header {
    padding-right: 16pt;
    padding-left: 16pt;
    height: 5vh;
    line-height: 5vh;
    max-height: 80pt;
    background-color: #546a76;
    font-size: 20pt;
    font-family: Noto serif, serif;
    color: #fffbfa;

    display: flex;
    justify-content: space-between;
    padding: auto, 4%, auto, 4%;
}

header div.websiteTitle a {
    color: #fffbfa;
}

header div.links a {
    margin: 10pt;
    color: #ddfff7;
    font-size: 16pt;
}

button a {
    color: #fffbfa;
}

/**blue line between the titles and the paragraph**/
hr {
    background-color: #6bd0ed;
    border: none;
    color: #6bd0ed;
    height: 2pt;
    width: 200pt;
    margin: 16pt auto;

}

/** Home Page **/
body.homepage {
    padding: 24% 0 24% 0;
}

.homepage h1 {
    font-size: 9.3vw;
}

.homepage h2 {
    font-size: 6.2vw;
}

.homepage div:first-child {
    border-bottom: 3px solid #6bd0ed;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

.homepage p {
    text-align: center;
    padding: 10px;
}

.homepage nav {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    column-gap: 14px;
    row-gap: 10px;
    margin: auto;
}

button {
    background-color: #546a76;
    border: none;
    border-radius: 8pt;
    color: #fffbfa;
    flex: 1;
    font-family: Lato, sans-serif;
    font-size: 16pt;
    height: 42px;
    text-align: center;
    text-decoration: none;
    min-width: 150px;
    max-width: 200px;
}

/**
hr.homepage-line {
    width: 500pt;
}

main.homepage {
    align-items: center;
    font-size: 14pt;
    text-align: center;
    padding: 24% 0 0 0;
    height: 100%;
    width: 100%;
}

.homepage p {
    display: inline-block;
    text-align: center;
}
**/

main {
    /**
    border: 5px solid red;
    **/

    width: 80vw;
    max-width: 1400px;
    margin: auto;
}

main p {
    width: 90%;
    max-width: 1400px;
}

main.portfolio p {
    text-align: center;
    display: inline-block;
    padding-bottom: 20pt;
}

main.portfolio div {
    text-align: center;
}

main.portfolio table {
    display: flex;
    justify-content: space-evenly;
}

/**
div.homepage-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 500pt;
    margin: 10vh auto;
    background-color: none;
    height: 32pt;
}

.homepage-links button {
    font-size: 16pt;
    font-family: Lato, sans-serif;
    text-align: center;
    width: 30%;
    height: 100%;
    margin: 0;
    border: 0;
    background-color: #546a76;
    text-decoration: none;
    padding: 2pt;
    border-radius: 8pt;
}
**/

@media (max-width:450px) {
    button {
        height: 42px;
        /** height does not work **/
        width: 100%;
        max-width: 300px;
    }

    body.homepage {
        padding: 20% 0 0 0;
    }

    .homepage h1 {
        font-size: 31.2pt;
    }

    .homepage h2 {
        font-size: 20.8pt;
    }

    .homepage nav {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media (min-width:600px) {
    .homepage h1 {
        font-size: 42pt;
    }

    .homepage h2 {
        font-size: 28pt;
    }
}